<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<detail></detail>
<detail></detail>
<detail></detail>
<ol>
	<li [class.selected]="p==personne" (click)="clickPersonne(p)" *ngFor="let p of liste"> {{p.prenom}} {{p.nom }} </li>
</ol>

<h2>Détail sur {{personne.prenom}} {{personne.nom}} </h2>
<ul>
	<li><b>Nom : </b>{{personne.nom}}</li>
	<li><b>Prenom : </b>{{personne.prenom}}</li>
	<li><b>Description : </b>{{personne.description}}</li>
	<li><b>Travail : </b>{{personne.travail}}</li>
</ul>

<img width='300px' src="./assets/{{personne.nom}}.jpg">


<h2>Modification</h2>

<h3 *ngIf="!personne.nom">Attention le nom n'est pas défini</h3>
<h3 *ngIf="!personne.prenom">Attention le prenom n'est pas défini</h3>
<h3 *ngIf="personne.prenom=='Guillaume'">Tu n'as pas le droit ! change de nom</h3>


<ul>
	<li>Nom : <input class="{{personne.nom}}"
					 [class.erreur]="!personne.nom" 
					 [class.info]="personne.nom=='Fernando'" 
					 [(ngModel)]="personne.nom" /></li>
					 
	<li>Prenom : <input [(ngModel)]="personne.prenom" /></li>
	<li>Travail Principal : <input [(ngModel)]="personne.travail" /></li>
	<li>Résumé : <textarea  [(ngModel)]="personne.description" ></textarea></li>
	
	
</ul>
