<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<ol>
	<li *ngFor="let p of liste"> {{p.prenom}} {{p.nom }} </li>
</ol>

<h2>Détail sur {{personne.prenom}} {{personne.nom}} </h2>
<ul>
	<li><b>Nom : </b>{{personne.nom}}</li>
	<li><b>Prenom : </b>{{personne.prenom}}</li>
	<li><b>Description : </b>{{personne.description}}</li>
	<li><b>Travail : </b>{{personne.travail}}</li>
</ul>

<h2>Modification</h2>
<ul>
	<li>Nom : <input [(ngModel)]="personne.nom" /></li>
	<li>Prenom : <input [(ngModel)]="personne.prenom" /></li>
	<li>Travail Principal : <input [(ngModel)]="personne.travail" /></li>
	<li>Résumé : <textarea  [(ngModel)]="personne.description" ></textarea></li>
	
	
</ul>
